<p-table
  class="p-10"
  [value]="paginatedProducts"
  [tableStyle]="{
    'min-width': '50rem',
    background: 'black',
    border: '1px solid #ddd',
    'border-radius': '8px',
    'box-shadow': '0 2px 6px rgba(0, 0, 0, 0.1)'
  }"
>
  <ng-template pTemplate="caption">
    <p-multiSelect
      display="chip"
      [options]="_selectedColumns"
      [(ngModel)]="cols"
      optionLabel="header"
      selectedItemsLabel="{0} columns selected"
      [style]="{
        background: 'white',
        border: '1px solid #ddd',
        'border-radius': '8px',
        'box-shadow': '0 2px 6px rgba(0, 0, 0, 0.1)'
      }"
      placeholder="Choose Columns"
    >
    </p-multiSelect>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th class="border-r"></th>

      <th
        *ngFor="let col of cols"
        class="min-w-56 px-4 py-2 text-left text-md font-medium border-b border-r"
        pSortableColumn="{{ col.field }}"
      >

        @if(col.field !=='action'){
        <div class="flex flex-col">
          <!-- Header Label and Sort Icon -->
          <div class="flex justify-between items-center mb-2">
            <span>{{ col.header }}</span>
            <p-sortIcon field="{{ col.field }}" class="ml-2"></p-sortIcon>
          </div>
          <!-- Column Filter -->
        </div>
        }

      </th>
    </tr>
    <tr>
      <th class="border-b border-r px-2 py-1 text-sm text-gray-600 text-center">
        Actions
      </th>
      <th
        *ngFor="let col of cols"
        class="border-b border-r px-2 py-1 text-sm text-gray-600"
      >

        <!-- Using @if for conditional rendering -->
        @if (col.header === 'Major') {
        <p-multiSelect
          [options]="majors"
          [(ngModel)]="selectedMajors"
          [showClear]="true"
          (onChange)="fetchYouthData()"
          placeholder="Select Majors"
          [style]="{
            background: 'white',
            border: '1px solid #ddd',
            'border-radius': '8px',
            'box-shadow': '0 2px 6px rgba(0, 0, 0, 0.1)'
          }"
        >
          <ng-template let-option pTemplate="item">
            <div class="flex items-center">
              {{ option }}
            </div>
          </ng-template>
        </p-multiSelect>
        }@else if(col.header=="Gender"){
        <p-multiSelect
          [options]="genders"
          [(ngModel)]="selectedGender"
          [showClear]="true"
          (onChange)="fetchYouthData()"
          placeholder="Select Gender"
          [style]="{
            background: 'white',
            border: '1px solid #ddd',
            'border-radius': '8px',
            'box-shadow': '0 2px 6px rgba(0, 0, 0, 0.1)'
          }"
          ><ng-template let-option pTemplate="item">
            <div class="flex items-center">
              {{ option }}
            </div>
          </ng-template>
        </p-multiSelect>
        }@else if(col.header=="Area"){
          <p-multiSelect
            [options]="areas"
            [(ngModel)]="selectedAreas"
            [showClear]="true"
            (onChange)="fetchYouthData()"
            placeholder="Select Area"
            appendTo="body"
            [style]="{
              background: 'white',
              border: '1px solid #ddd',
              'border-radius': '8px',
              'box-shadow': '0 2px 6px rgba(0, 0, 0, 0.1)'
            }"
            ><ng-template let-option pTemplate="item">
              <div class="flex items-center absolute z-50">
                {{ option.name }}
              </div>
            </ng-template>
          </p-multiSelect>
          }@else if(col.header=="Education Level"){
            <p-multiSelect
              [options]="educationLevels"
              [(ngModel)]="selectedEducationLevels"
              [showClear]="true"
              (onChange)="fetchYouthData()"
              placeholder="Select Education Level"
              [style]="{
                background: 'white',
                border: '1px solid #ddd',
                'border-radius': '8px',
                'box-shadow': '0 2px 6px rgba(0, 0, 0, 0.1)'
              }"
              ><ng-template let-option pTemplate="item">
                <div class="flex items-center">
                  {{ option }}
                </div>
              </ng-template>
            </p-multiSelect>
            }@else if(col.header=="Nationality"){
              <p-multiSelect
                [options]="nationalityOptions"
                [(ngModel)]="selectedNationalities"
                [showClear]="true"
                (onChange)="fetchYouthData()"
                placeholder="Select Nationality"
                [style]="{
                  background: 'white',
                  border: '1px solid #ddd',
                  'border-radius': '8px',
                  'box-shadow': '0 2px 6px rgba(0, 0, 0, 0.1)'
                }"
                ><ng-template let-option pTemplate="item">
                  <div class="flex items-center">
                    {{ option }}
                  </div>
                </ng-template>
              </p-multiSelect>
              }@else {
        <!-- Text filter for other columns -->
        <p-columnFilter
          [type]="'text'"
          [field]="col.field"
          [showClearButton]="true"
        ></p-columnFilter>
        }
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-product>
    <tr class="odd:bg-gray-50 even:bg-white text-gray-700 hover:bg-gray-100">
      <td
        class="text-sm border-b border-r border-gray-300 flex flex-row justify-between items-center gap-4"
      >
        <div class=" " *ngFor="let action of getActionsForRow(product.status)">
          <button
            *ngIf="action === 'view'"
            type="button"
            class="px-4 py-2 bg-green-500 text-white rounded-md hover:bg-green-600"
            (click)="showDialog(product.id)"
            >
            <i class="pi pi-eye"></i>
          </button>

          <p-dialog
          header="Youth Details"
          [(visible)]="dialogVisible"
          [style]="{ width: '80rem' }"
          (onHide)="clearSelectedYouthId()"
        >
          <app-youthsignup-details *ngIf="selectedYouthId" [youthId]="selectedYouthId"/>
        </p-dialog>


        <button
        *ngIf="action === 'pend'"
        type="button"
        class="px-4 py-2 bg-yellow-500 text-white rounded-md hover:bg-yellow-600"
        (click)="showNoteDialog(product)"
      >
        <i class="pi pi-clock"></i>
      </button>
        <button
        *ngIf="action === 'notes'"
        type="button"
        class="px-4 py-2 bg-orange-500 text-white rounded-md hover:bg-yellow-600"
        (click)="displayNoteDialog(product)"
      >
      <i class="pi pi-file"></i>
    </button>

      <p-dialog [(visible)]="noteDialogVisible" [closable]="false" [style]="{ width: '500px' }">
        <p-header>Update Notes</p-header>
        <textarea [(ngModel)]="note" rows="5" cols="30" placeholder="Enter notes..."></textarea>
        <p-footer class="flex flex-row justify-end gap-7">
          <button pButton class="bg-green-500 px-5 py-2 text-white" type="button" label="Save" (click)="updateNotes(selectedYouth.id, note);noteDialogVisible=false"></button>
          <button pButton class="bg-black px-5 py-2 text-white" type="button" label="Cancel" (click)="noteDialogVisible = false"></button>
        </p-footer>
      </p-dialog>
          <button
            *ngIf="action === 'accept'"
            type="button"
            class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600"
            (click)="performAction('accept', product)"
          >
            <i class="pi pi-check"></i>
          </button>
          <button
            *ngIf="action === 'reject'"
            type="button"
            class="px-4 py-2 bg-red-500 text-white rounded-md hover:bg-red-600"
            (click)="performAction('reject', product)"
          >
            <i class="pi pi-times"></i>
          </button>
        </div>
      </td>
      <td
        *ngFor="let col of cols"
        class="px-4 py-2 text-sm border-b border-r border-gray-300"
      >
        <!-- <ng-container *ngIf="col.field === 'action'">
          <div class="flex flex-row justify-between items-center px-5">
            <button
              type="button"
              class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600"
              (click)="performAction('edit', product)"
            >
              Edit
            </button>
            <button
              type="button"
              class="px-4 py-2 bg-red-500 text-white rounded-md hover:bg-red-600"
              (click)="performAction('delete', product)"
            >
              Delete
            </button>
          </div>
        </ng-container> -->

        {{ col.field !== "action" ? product[col.field] || "N/A" : "" }}
      </td>
    </tr>
  </ng-template>
</p-table>

<p-paginator
  class="bg-white border-t border-gray-300"
  [rows]="10"
  [rowsPerPageOptions]="[5, 10, 20]"
  (onPageChange)="paginate($event)"
>
</p-paginator>
