/* Container with mixed styling */
.mixed-container {
  display: flex;
  height: calc(100vh - 100px);
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 1rem;
}

.label {
  @apply text-xl font-bold text-gray-800 dark:text-gray-200 shrink-0 ;
}

.value {
  @apply text-lg font-medium text-gray-700 dark:text-gray-400 px-2 py-2 m-2 bg-blue-100 dark:bg-blue-800 rounded-lg shadow-sm;
}
/* Inner panel styling */
.mixed-panel {
  flex-grow: 1;
  background: linear-gradient(to right, #e6f7ff, #cce4ff);
  color: #333333;
  padding: 2rem;
  overflow-y: auto;
  border-radius: 0.75rem;
  margin: 0.7rem;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  border-left: 2px solid #d4edff;
}



/* Signature section */
.signature {
  margin-top: 1rem;
}

/* Dark mode adjustments */
@media (prefers-color-scheme: dark) {
  .mixed-container {
    background: #1e90ff;
  }
  .mixed-panel {
    background: linear-gradient(to right, #6ab5ff, #1e90ff);
    color: #f9f9f9;
  }
  .label {
    color: #f9f9f9;
  }
  .value {
    color: #e0e0e0;
  }
}

/* Responsive behavior */
@media screen and (max-width: 768px) {
  .mixed-container {
    flex-direction: column;
    height: auto;
  }
  .mixed-panel {
    padding: 1rem;
    margin: 0;
  }
}
/* Modal Overlay */
.fixed.inset-0.bg-black.bg-opacity-50 {
  background: rgba(0, 0, 0, 0.5); /* Transparent black background */
}


/* Modal Container */
.bg-white {
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 200px;
}

/* Close Button */
button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.25rem;
  color: #333;
}
