

.container strong {
  @apply text-lg font-bold text-gray-700 dark:text-gray-300;
}

.container span {
  @apply text-base font-medium text-gray-600 dark:text-gray-400;
}
div.mb-6 {
  margin-bottom: 1.5rem;
}

div.rounded-lg {
  border-radius: 0.75rem;
}

div.shadow-md {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

div.border {
  border: 1px solid #d4edff;
}
