<div class="container">

    <div class="mb-6 pb-4 bg-[#f0f8ff] dark:bg-[#1e90ff] rounded-xl shadow-lg p-6">

        <div class="p-6 bg-gradient-to-r from-[#e6f7ff] to-[#cce4ff] dark:bg-gradient-to-r dark:from-[#6ab5ff] dark:to-[#1e90ff] rounded-lg mb-6 shadow-md border border-[#d4edff]">
            <div class="grid grid-cols-2 gap-x-8 gap-y-4 mt-4">
        <strong class="text-gray-700 dark:text-gray-300">Organization:</strong>
        <p class="text-gray-900 dark:text-gray-100">{{ employer?.organization }}</p>
      </div>
      <div class="grid grid-cols-2 gap-x-8 gap-y-4 mt-4">
        <strong class="text-gray-700 dark:text-gray-300">Full Name (English):</strong>
        <p class="text-gray-900 dark:text-gray-100">{{ employer?.fullNameEnglish }}</p>
      </div>
      <div class="grid grid-cols-2 gap-x-8 gap-y-4 mt-4">
        <strong class="text-gray-700 dark:text-gray-300">Full Name (Arabic):</strong>
        <p class="text-gray-900 dark:text-gray-100">{{ employer?.fullNameArabic }}</p>
      </div>
      <div class="grid grid-cols-2 gap-x-8 gap-y-4 mt-4">
        <strong class="text-gray-700 dark:text-gray-300">Mobile Phone:</strong>
        <p class="text-gray-900 dark:text-gray-100">{{ employer?.mobilePhone }}</p>
      </div>
      <div class="grid grid-cols-2 gap-x-8 gap-y-4 mt-4">
        <strong class="text-gray-700 dark:text-gray-300">WhatsApp Number:</strong>
        <p class="text-gray-900 dark:text-gray-100">{{ employer?.whatsappNumber }}</p>
      </div>
      <div class="grid grid-cols-2 gap-x-8 gap-y-4 mt-4">
        <strong class="text-gray-700 dark:text-gray-300">Email Address:</strong>
        <p class="text-gray-900 dark:text-gray-100">{{ employer?.email }}</p>
      </div>
      <div class="grid grid-cols-2 gap-x-8 gap-y-4 mt-4">
        <strong class="text-gray-700 dark:text-gray-300">Area:</strong>
        <p class="text-gray-900 dark:text-gray-100">{{ employer?.area }}</p>
      </div>
      <div *ngIf="employer?.signature">
        <strong class="text-gray-700 dark:text-gray-300">Signature:</strong>
        <img [src]="employer?.signature" alt="Employer Signature" class="w-32 h-32 object-contain border rounded-md">
      </div>
    </div>
  </div>
</div>
