<div class="flex justify-around p-5 bg-gray-100">
  <div class="text-center m-4">
    <h3 class="text-4xl font-bold text-blue-500">+{{ totalRegistered }}</h3>
    <p class="text-lg text-gray-600">Total Registered Youths</p>
  </div>
  <div class="text-center m-4">
    <h3 class="text-4xl font-bold text-blue-500">+{{ dailyVisitors }}</h3>
    <p class="text-lg text-gray-600">Daily Visitors</p>
  </div>
  <div class="text-center m-4">
    <h3 class="text-4xl font-bold text-blue-500">+{{ opportunitiesPosted }}</h3>
    <p class="text-lg text-gray-600">New Opportunities Posted Each Week</p>
  </div>
  <div class="text-center m-4">
    <h3 class="text-4xl font-bold text-blue-500">+{{ activeProjects }}</h3>
    <p class="text-lg text-gray-600">Active Projects Ongoing</p>
  </div>
</div>
