<!-- employer.component.html -->
<div class="employer-page p-6 max-w-8xl mx-auto bg-gray-100 text-gray-800">
  <div class="flex flex-col items-center space-y-6">
    <!-- Title -->
      <p class="text-3xl sm:text-4xl font-semibold text-gray-900 dark:text-gray-100">
        Welcome, <span class="text-indigo-600 dark:text-indigo-400 font-bold">{{ userName }}</span>
      </p>
      <p class="text-base sm:text-lg font-medium text-gray-600 dark:text-gray-300 mt-2">
        It’s great to see you here.
      </p>
    <!-- Buttons -->
    <button
    pButton
    icon="pi pi-plus"
    class="relative flex items-center justify-center px-6 py-3 rounded-lg bg-gradient-to-r from-blue-500 to-blue-700 text-white font-semibold hover:from-blue-600 hover:to-blue-800 shadow-lg hover:shadow-xl active:shadow-md focus:outline-none focus:ring-4 focus:ring-blue-300 transition-all duration-300"
    (click)="openDialog()"
  >
    <span class="mr-2">
    </span>
    Request Job
  </button>



  <!-- Dialog -->
  <p-dialog
    [(visible)]="displayDialog"
    header="Request Job"
    [modal]="true"
    [style]="{ width: '50vw' }"
  class="shadow-lg"
  >
  <div>
    <h3 class="text-2xl font-semibold text-gray-900 mb-4 border-b-2 border-gray-200 pb-2">Step 1: Select Job</h3>
    <label for="category" class="block text-sm font-medium text-gray-700 mt-3">
      Job Category:
    </label>
    <select
      id="category"
      [(ngModel)]="selectedCategory"
      (change)="onSelectCategory(selectedCategory)"
      class="w-full p-3 mt-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
    >
      <option *ngFor="let category of mainCategories" [value]="category.value">
        {{ category.label }}
      </option>
    </select>

    <!-- Subcategory dropdown -->
    <div *ngIf="subcategories.length > 0">
      <label
        for="subcategory"
        class="block text-sm font-medium text-gray-700 mt-2 mb-1"
        >Job:</label
      >
      <select
        id="subcategory"
        [(ngModel)]="selectedjob"
        (change)="onSelectJob(selectedjob)"
        class="w-full p-3 mt-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
      >
        <option *ngFor="let subcategory of subcategories" [value]="subcategory">
          {{ subcategory }}
        </option>
      </select>
    </div>
  </div>

  <div *ngIf="step1" class="mt-6">
    <h3 class="text-2xl font-semibold text-gray-900 mb-4 border-b-2 border-gray-200 pb-2">Step 2: Enter Job Details</h3>
    <form (ngSubmit)="submitForm()">
      <div class="space-y-4">
        <!-- Job Title -->
        <div>
          <label for="jobTitle" class="block text-sm font-medium text-gray-700">Job Title:</label>
          <input
            type="text"
            id="jobTitle"
            [(ngModel)]="jobDetails.title"
            name="jobTitle"
            placeholder="Enter job title"
            class="block w-full mt-2 p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
            required
          />
        </div>

        <!-- Number of Employees -->
        <div>
          <label for="employees" class="block text-sm font-medium text-gray-700">Number of Employees:</label>
          <input
            type="number"
            id="employees"
            [(ngModel)]="jobDetails.numEmployees"
            name="employees"
            placeholder="Enter number of employees"
            class="block w-full mt-2 p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
            required
          />
        </div>

        <!-- Job Level -->
        <div>
          <label for="level" class="block text-sm font-medium text-gray-700">Job Level:</label>
          <select
            id="level"
            [(ngModel)]="jobDetails.level"
            name="level"
            class="w-full p-3 mt-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
          >
          <option value="" disabled>Select Job Level</option>
            <option value="junior">Junior</option>
            <option value="mid">Mid-Level</option>
            <option value="senior">Senior</option>
          </select>
        </div>

        <!-- Area -->
        <!-- <div>
          <label for="area" class="block text-sm font-medium text-gray-700">Area:</label>
          <select
          id="area"
          [(ngModel)]="jobDetails.area"
          name="area"
          class="w-full p-3 mt-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
        >   <option value="" disabled>Select an Area</option>
            <option value="North Lebanon Area">North Lebanon Area</option>
            <option value="Central Lebanon Area">Central Lebanon Area</option>
            <option value="Beqaa Area">Beqaa Area</option>
            <option value="Saida Area">Saida Area</option>
            <option value="Tyre Area">Tyre Area</option>
          </select>
        </div> -->
        <div>
          <label for="area">Select Area:</label>
          <select
          id="area"
          [(ngModel)]="selectedArea"
          [ngModelOptions]="{standalone: true}"
          (change)="onAreaChange(selectedArea)"
          class="w-full p-3 mt-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
        >            <option *ngFor="let area of areaOptions" [value]="area">{{ area }}</option>
          </select>

        </div>

        <div >
          <label for="campType">Select Camp Type:</label>
          <select id="campType" [ngModelOptions]="{standalone: true}" [(ngModel)]="jobDetails.campType" (change)="onCampTypeChange(jobDetails.campType)"
          class="w-full p-3 mt-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
          >
            <option *ngFor="let type of campTypeOptions" [value]="type">{{ type }}</option>
          </select>
        </div>

        <div >
          <label for="camp">Select Camp:</label>
          <select id="camp" [(ngModel)]="jobDetails.camp" [ngModelOptions]="{standalone: true}"
          class="w-full p-3 mt-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
          >
            <option *ngFor="let camp of campOptions" [value]="camp">{{ camp }}</option>
          </select>
        </div>

        <!-- Location -->
        <div>
          <label for="location" class="block text-sm font-medium text-gray-700">Location:</label>
          <input
            type="text"
            id="location"
            [(ngModel)]="jobDetails.location"
            name="location"
            placeholder="Enter job location"
            class="block w-full mt-2 p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
            required
          />
        </div>



        <!-- Type of Job -->
        <div>
          <label for="typeOfJob" class="block text-sm font-medium text-gray-700">Type of Job:</label>
          <select
            id="typeOfJob"
            [(ngModel)]="jobDetails.typeOfJob"
            name="typeOfJob"
            class="w-full p-3 mt-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
          >
          <option value="" disabled>Select type of job</option>
            <option value="hybrid">Hybrid</option>
            <option value="onsite">Onsite</option>
            <option value="remote">Remote</option>
          </select>
        </div>

        <!-- Supervisor Name -->
        <div>
          <label for="supervisorName" class="block text-sm font-medium text-gray-700">Supervisor Name:</label>
          <input
            type="text"
            id="supervisorName"
            [(ngModel)]="jobDetails.supervisorName"
            name="supervisorName"
            placeholder="Enter supervisor name"
            class="block w-full mt-2 p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
            required
          />
        </div>

        <!-- Supervisor Position -->
        <div>
          <label for="supervisorPosition" class="block text-sm font-medium text-gray-700">Supervisor Position:</label>
          <input
            type="text"
            id="supervisorPosition"
            [(ngModel)]="jobDetails.supervisorPosition"
            name="supervisorPosition"
            placeholder="Enter supervisor position"
            class="block w-full mt-2 p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
            required
          />
        </div>

        <!-- Supervisor Email -->
        <div>
          <label for="supervisorEmail" class="block text-sm font-medium text-gray-700">Supervisor Email:</label>
          <input
            type="email"
            id="supervisorEmail"
            [(ngModel)]="jobDetails.supervisorEmail"
            name="supervisorEmail"
            placeholder="Enter supervisor email"
            class="block w-full mt-2 p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
            required
          />
        </div>

        <!-- Supervisor Phone Number -->
        <div>
          <label for="supervisorPhone" class="block text-sm font-medium text-gray-700">Supervisor Phone Number:</label>
          <input
            type="tel"
            id="supervisorPhone"
            [(ngModel)]="jobDetails.supervisorPhone"
            name="supervisorPhone"
            placeholder="Enter supervisor phone number"
            class="block w-full mt-2 p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
            required
          />
        </div>

        <!-- Action Buttons -->
        <div class="flex justify-end gap-4 mt-6">
          <button
            pButton
            label="Cancel"
            class="px-5 py-3 text-sm bg-red-600 text-white rounded-md hover:bg-red-500 focus:ring-4 focus:ring-red-300"
            (click)="closeDialog()"
            type="button"
          ></button>
          <button
            pButton
            label="Submit"
            icon="pi pi-check"
            class="px-5 py-3 text-sm bg-green-600 text-white rounded-md hover:bg-green-500 focus:ring-4 focus:ring-green-300"
            type="submit"
          ></button>
        </div>
      </div>
    </form>
  </div>
  </p-dialog>
</div>

  <p-tabView (onTabChange)="onTabChange($event)">
  <!-- Waiting Tab -->
  <p-tabPanel header="Waiting" [headerStyleClass]="'waiting-tab'">
    <div class="overflow-x-auto">

      <div class="max-w-5xl mx-auto my-8 p-6 bg-blue-50 rounded-lg shadow-lg">
        <!-- Table -->
        <div class="overflow-x-auto">
          <table class="min-w-full border-collapse bg-white rounded-lg shadow-md overflow-hidden">
            <thead>
              <tr class="bg-gray-200 text-left text-sm font-semibold text-gray-800">
                <th
                  *ngFor="let column of columns"
                  class="px-6 py-4 border-b border-gray-300 cursor-pointer hover:bg-gray-300"
                  (click)="sortTable(column.key)"
                >
                  <span class="flex items-center">
                    {{ column.label }}
                    <svg
                      class="w-4 h-4 ml-2"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path [attr.d]="getSortIconPath(column.key)" />
                    </svg>
                  </span>
                </th>
                <!-- Action Column -->
                <th class="px-6 py-4 border-b border-gray-300 text-center">Actions</th>
              </tr>
            </thead>
            <tbody>
              <!-- Check if there are jobs -->
              <ng-container *ngIf="paginatedWaitingJobs.length > 0; else noJobsTemplate">
                <tr
                  *ngFor="let job of paginatedWaitingJobs"
                  class="hover:bg-blue-100 transition-colors ease-in-out duration-150"
                >
                  <td
                    class="px-6 py-4 border-b border-gray-300 text-sm text-gray-700 font-semibold"
                    *ngFor="let column of columns"
                    [ngClass]="{ 'no-wrap': column.key === 'jobId' }"
                  >
                    {{ job[column.key] }}
                  </td>

                  <!-- Action Buttons -->
                  <td class="px-6 py-4 border-b border-gray-300 text-center">
                    <div class="flex space-x-2 justify-center">
                      <button
                        class="bg-blue-500 text-white hover:bg-blue-600 focus:ring-2 focus:ring-blue-300 focus:outline-none rounded-full p-2 shadow-md transition-colors flex items-center"
                        aria-label="Edit"
                        (click)="openEditModal(job.jobId ?? 'N/A')"
                      >
                        <i class="pi pi-pencil text-lg"></i>
                      </button>
                      <button
                        class="bg-red-500 text-white hover:bg-red-600 focus:ring-2 focus:ring-red-300 focus:outline-none rounded-full p-2 shadow-md transition-colors flex items-center"
                        aria-label="Delete"
                        (click)="openDeleteModal(job)"
                      >
                        <i class="pi pi-trash text-lg"></i>
                      </button>
                      <button
                        class="bg-green-500 text-white hover:bg-green-600 focus:ring-2 focus:ring-green-300 focus:outline-none rounded-full p-2 shadow-md transition-colors flex items-center"
                        aria-label="Info"
                        (click)="openModal(job.jobId ?? 'N/A')"
                      >
                        <i class="pi pi-info text-lg"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>

        <!-- Template for No Jobs -->
        <ng-template #noJobsTemplate>
          <tr>
            <td colspan="6" class="text-center py-8">
              <div class="flex flex-col items-center justify-center">
                <img src="/assets/images/no-data.svg" alt="No active jobs" class="mx-auto w-20 h-20 md:w-32 md:h-32" />
                <p class="text-gray-600 mt-4 text-sm md:text-base font-medium">No active jobs at the moment.</p>
              </div>
            </td>
          </tr>
        </ng-template>


        <!-- Pagination Controls -->
        <div class="mt-6 flex justify-between items-center" *ngIf="paginatedWaitingJobs.length > 0">
          <button
            class="px-6 py-2 bg-indigo-500 text-white rounded-md hover:bg-indigo-600 disabled:bg-gray-300 disabled:text-gray-500 disabled:cursor-not-allowed"
            (click)="prevPage('waiting')"
            [disabled]="currentPageWaiting === 1"
          >
            Previous
          </button>
          <div class="flex items-center space-x-2">
            <span class="text-sm text-gray-600">Page {{ currentPageWaiting }} of {{ Math.ceil(filteredWaitingJobs.length / itemsPerPage) }}</span>
          </div>
          <button
            class="px-6 py-2 bg-indigo-500 text-white rounded-md hover:bg-indigo-600 disabled:bg-gray-200 disabled:cursor-not-allowed"
            (click)="nextPage('waiting')"
            [disabled]="currentPageWaiting === Math.ceil(filteredWaitingJobs.length / itemsPerPage)"
          >
            Next
          </button>
        </div>

        <!-- Search Input -->
        <div class="mt-4 flex items-center space-x-2">
          <input
            type="text"
            class="px-4 py-2 border border-gray-300 rounded-md"
            placeholder="Search"
            [(ngModel)]="searchQuery"
          />
        </div>
      </div>


<div
  class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50"
  *ngIf="isEditModalOpen"
>
<div
class="bg-white rounded-lg shadow-lg w-full max-w-5xl mx-2 md:mx-8 p-3 relative overflow-y-auto"
style="max-height: 85vh;"
>
    <!-- Close Button -->
    <button
    class="close-button"
    (click)="closeEditModal()"
    >
      &times;
    </button>

    <!-- Edit Job Component -->
    <app-job-request
      [jobId]="selectedJobId"
      *ngIf="selectedJobId"
    ></app-job-request>


    </div>
</div>

<div
  class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50"
  *ngIf="isModalOpen"
>
  <div
  class="bg-white rounded-lg shadow-lg w-full max-w-5xl mx-2 md:mx-8 p-3 relative overflow-y-auto"
  style="max-height: 85vh;"
  >
    <!-- Close Button -->
    <button
      class="absolute top-4 right-4 text-gray-500 hover:text-gray-800 focus:outline-none"
      (click)="closeModal()"
    >
      &times;
    </button>

    <!-- Job Details Component -->
    <app-job-request-details [jobId]="selectedJobId" *ngIf="selectedJobId">
    </app-job-request-details>
  </div>
</div>

<div
  id="delete-confirm-modal"
  tabindex="-1"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
  *ngIf="isDeleteModalOpen"
>
  <div class="relative p-4 w-full max-w-md max-h-full">
    <div
      class="relative bg-white border border-gray-400 rounded-lg shadow-lg dark:bg-gray-800 dark:border-gray-700"
    >
      <button
        type="button"
        class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
        (click)="closeDeleteModal()"
      >
        <svg
          class="w-3 h-3"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
          />
        </svg>
        <span class="sr-only">Close modal</span>
      </button>
      <div class="p-4 md:p-5 text-center">
        <svg
          class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 20 20"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
          />
        </svg>
        <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">
          Are you sure you want to delete <strong>{{ selectedJobTitle }}</strong
          >?
        </h3>
        <button
          type="button"
          class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center"
          (click)="confirmDelete()"
        >
          Yes, I'm sure
        </button>
        <button
          type="button"
          class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
          (click)="closeDeleteModal()"
        >
          No, cancel
        </button>
      </div>
    </div>
  </div>
</div>
</div>


</p-tabPanel>

<p-tabPanel header="Assigned" [headerStyleClass]="'assigned-tab'">
  <div class="overflow-x-auto">

    <div class="max-w-5xl mx-auto my-8 p-6 bg-blue-50 rounded-lg shadow-lg">
      <!-- Table -->
      <div class="overflow-x-auto">
        <table class="min-w-full border-collapse bg-white rounded-lg shadow-md overflow-hidden">
          <thead>
            <tr class="bg-gray-200 text-left text-sm font-semibold text-gray-800">
              <th
                *ngFor="let column of columns"
                class="px-6 py-4 border-b border-gray-300 cursor-pointer hover:bg-gray-300"
                (click)="sortTable(column.key)"
              >
                <span class="flex items-center">
                  {{ column.label }}
                  <svg
                    class="w-4 h-4 ml-2"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path [attr.d]="getSortIconPath(column.key)" />
                  </svg>
                </span>
              </th>
              <!-- Action Column -->
              <th class="px-6 py-4 border-b border-gray-300 text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
            <!-- Check if there are assigned jobs -->
            <ng-container *ngIf="paginatedAssignedJobs.length > 0; else noAssignedJobsTemplate">
              <tr
                *ngFor="let job of paginatedAssignedJobs"
                class="hover:bg-blue-100 transition-colors ease-in-out duration-150"
              >
                <td
                  class="px-6 py-4 border-b border-gray-300 text-sm text-gray-700 font-semibold"
                  *ngFor="let column of columns"
                  [ngClass]="{ 'no-wrap': column.key === 'jobId' }"
                >
                  {{ job[column.key] }}
                </td>

                <!-- Action Buttons -->
                <td class="px-6 py-4 border-b border-gray-300 text-center">
                  <div class="flex space-x-2 justify-center">
                    <button
                      class="bg-red-500 text-white hover:bg-red-600 focus:ring-2 focus:ring-red-300 focus:outline-none rounded-full p-2 shadow-md transition-colors flex items-center"
                      aria-label="Delete"
                      (click)="openDeleteModal(job)"
                    >
                      <i class="pi pi-trash text-lg"></i>
                    </button>

                    <button
                      class="bg-green-500 text-white hover:bg-green-600 focus:ring-2 focus:ring-green-300 focus:outline-none rounded-full p-2 shadow-md transition-colors flex items-center"
                      aria-label="Info"
                      (click)="openModal(job.jobId ?? 'N/A')"
                    >
                      <i class="pi pi-info text-lg"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>

      <!-- Template for No Assigned Jobs -->
      <ng-template #noAssignedJobsTemplate>
        <tr>
          <td colspan="7" class="text-center py-8">
            <div class="flex flex-col items-center justify-center">
              <img src="/assets/images/no-data.svg" alt="No assigned jobs" class="mx-auto w-20 h-20 md:w-32 md:h-32" />
              <p class="text-gray-600 mt-4 text-sm md:text-base font-medium">No assigned jobs at the moment.</p>
            </div>
          </td>
        </tr>
      </ng-template>

      <!-- Pagination Controls -->
      <div class="mt-6 flex justify-between items-center">
        <!-- Previous Button -->
        <button
          class="px-6 py-2 bg-indigo-500 text-white rounded-md hover:bg-indigo-600 disabled:bg-gray-300 disabled:text-gray-500 disabled:cursor-not-allowed"
          (click)="prevPage('assigned')"
          [disabled]="currentPageAssigned === 1"
        >
          Previous
        </button>

        <!-- Page Numbers -->
        <div class="flex items-center space-x-2">
          <span class="text-sm text-gray-600">
            Page {{ currentPageAssigned }} of {{ Math.ceil(filteredAssignedJobs.length / itemsPerPage) }}
          </span>
        </div>

        <!-- Next Button -->
        <button
          class="px-6 py-2 bg-indigo-500 text-white rounded-md hover:bg-indigo-600 disabled:bg-gray-200 disabled:cursor-not-allowed"
          (click)="nextPage('assigned')"
          [disabled]="currentPageAssigned === Math.ceil(filteredAssignedJobs.length / itemsPerPage)"
        >
          Next
        </button>
      </div>

      <!-- Search Input -->
      <div class="mt-4 flex items-center space-x-2">
        <input
          type="text"
          class="px-4 py-2 border border-gray-300 rounded-md"
          placeholder="Search"
          [(ngModel)]="searchQuery"
        />
      </div>
    </div>





    <div
      class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50"
      *ngIf="isModalOpen"
    >
      <div
        class="bg-white rounded-lg shadow-lg w-full max-w-6xl mx-4 p-6 relative h-[90%]"
      >
      <button
      class="close-button"
      (click)="closeModal()"
    >
      &times;
    </button>


        <!-- Job Details Component -->
        <app-job-request-details [jobId]="selectedJobId" *ngIf="selectedJobId">
        </app-job-request-details>

        <!-- Close Button -->

      </div>
    </div>

    <div
      id="delete-confirm-modal"
      tabindex="-1"
      class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
      *ngIf="isDeleteModalOpen"
    >
      <div class="relative p-4 w-full max-w-md max-h-full">
        <div
          class="relative bg-white border border-gray-400 rounded-lg shadow-lg dark:bg-gray-800 dark:border-gray-700"
        >
          <button
            type="button"
            class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
            (click)="closeDeleteModal()"
          >
            <svg
              class="w-3 h-3"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 14"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
              />
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
          <div class="p-4 md:p-5 text-center">
            <svg
              class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 20 20"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
              />
            </svg>
            <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">
              Are you sure you want to delete <strong>{{ selectedJobTitle }}</strong
              >?
            </h3>
            <button
              type="button"
              class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center"
              (click)="confirmDelete()"
            >
              Yes, I'm sure
            </button>
            <button
              type="button"
              class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
              (click)="closeDeleteModal()"
            >
              No, cancel
            </button>
          </div>
        </div>
      </div>
    </div>
    </div>
  </p-tabPanel>
<p-tabPanel header="In Progress" [headerStyleClass]="'in-progress-tab'">
  <div class="overflow-x-auto">
    <div class="max-w-5xl mx-auto my-8 p-6 bg-blue-50 rounded-lg shadow-lg">
      <!-- Table -->
      <div class="overflow-x-auto">
        <table class="min-w-full border-collapse bg-white rounded-lg shadow-md overflow-hidden">
          <thead>
            <tr class="bg-gray-200 text-left text-sm font-semibold text-gray-800">
              <th
                *ngFor="let column of columns"
                class="px-6 py-4 border-b border-gray-300 cursor-pointer hover:bg-gray-300"
                (click)="sortTable(column.key)"
              >
                <span class="flex items-center">
                  {{ column.label }}
                  <svg
                    class="w-4 h-4 ml-2"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path [attr.d]="getSortIconPath(column.key)" />
                  </svg>
                </span>
              </th>
              <!-- Action Column -->
              <th class="px-6 py-4 border-b border-gray-300 text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
            <!-- Check if there are in-progress jobs -->
            <ng-container *ngIf="paginatedInProgressJobs.length > 0; else noInProgressJobsTemplate">
              <tr
                *ngFor="let job of paginatedInProgressJobs"
                class="hover:bg-blue-100 transition-colors ease-in-out duration-150"
              >
                <td
                  class="px-6 py-4 border-b border-gray-300 text-sm text-gray-700 font-semibold"
                  *ngFor="let column of columns"
                  [ngClass]="{ 'no-wrap': column.key === 'jobId' }"
                >
                  {{ job[column.key] }}
                </td>

                <!-- Action Buttons -->
                <td class="px-6 py-4 border-b border-gray-300 text-center">
                  <div class="flex space-x-2 justify-center">
                    <button
                      class="bg-red-500 text-white hover:bg-red-600 focus:ring-2 focus:ring-red-300 focus:outline-none rounded-full p-2 shadow-md transition-colors flex items-center"
                      aria-label="Delete"
                      (click)="openDeleteModal(job)"
                    >
                      <i class="pi pi-trash text-lg"></i>
                    </button>

                    <button
                      class="bg-green-500 text-white hover:bg-green-600 focus:ring-2 focus:ring-green-300 focus:outline-none rounded-full p-2 shadow-md transition-colors flex items-center"
                      aria-label="Info"
                      (click)="openModal(job.jobId ?? 'N/A')"
                    >
                      <i class="pi pi-info text-lg"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>

      <!-- Template for No In-Progress Jobs -->
      <ng-template #noInProgressJobsTemplate>
        <tr>
          <td colspan="7" class="text-center py-8">
            <div class="flex flex-col items-center justify-center">
              <img src="/assets/images/no-data.svg" alt="No in-progress jobs" class="mx-auto w-20 h-20 md:w-32 md:h-32" />
              <p class="text-gray-600 mt-4 text-sm md:text-base font-medium">No in-progress jobs at the moment.</p>
            </div>
          </td>
        </tr>
      </ng-template>

      <!-- Pagination Controls -->
      <div class="mt-6 flex justify-between items-center">
        <!-- Previous Button -->
        <button
          class="px-6 py-2 bg-indigo-500 text-white rounded-md hover:bg-indigo-600 disabled:bg-gray-300 disabled:text-gray-500 disabled:cursor-not-allowed"
          (click)="prevPage('inProgress')"
          [disabled]="currentPageInProgress === 1"
        >
          Previous
        </button>

        <!-- Page Numbers -->
        <div class="flex items-center space-x-2">
          <span class="text-sm text-gray-600">
            Page {{ currentPageInProgress }} of {{ Math.ceil(filteredInProgressJobs.length / itemsPerPage) }}
          </span>
        </div>

        <!-- Next Button -->
        <button
          class="px-6 py-2 bg-indigo-500 text-white rounded-md hover:bg-indigo-600 disabled:bg-gray-200 disabled:cursor-not-allowed"
          (click)="nextPage('inProgress')"
          [disabled]="currentPageInProgress === Math.ceil(filteredInProgressJobs.length / itemsPerPage)"
        >
          Next
        </button>
      </div>

      <!-- Search Input -->
      <div class="mt-4 flex items-center space-x-2">
        <input
          type="text"
          class="px-4 py-2 border border-gray-300 rounded-md"
          placeholder="Search"
          [(ngModel)]="searchQuery"
        />
      </div>
    </div>





    <div
      class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50"
      *ngIf="isModalOpen"
    >
      <div
        class="bg-white rounded-lg shadow-lg w-full max-w-6xl mx-4 p-6 relative "
      >
      <button
      class="close-button"
      (click)="closeModal()"
    >
      &times;
    </button>


        <!-- Job Details Component -->
        <app-job-request-details [jobId]="selectedJobId" *ngIf="selectedJobId">
        </app-job-request-details>

        <!-- Close Button -->

      </div>
    </div>

    <div
      id="delete-confirm-modal"
      tabindex="-1"
      class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
      *ngIf="isDeleteModalOpen"
    >
      <div class="relative p-4 w-full max-w-md max-h-full">
        <div
          class="relative bg-white border border-gray-400 rounded-lg shadow-lg dark:bg-gray-800 dark:border-gray-700"
        >
          <button
            type="button"
            class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
            (click)="closeDeleteModal()"
          >
            <svg
              class="w-3 h-3"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 14"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
              />
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
          <div class="p-4 md:p-5 text-center">
            <svg
              class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 20 20"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
              />
            </svg>
            <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">
              Are you sure you want to delete <strong>{{ selectedJobTitle }}</strong
              >?
            </h3>
            <button
              type="button"
              class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center"
              (click)="confirmDelete()"
            >
              Yes, I'm sure
            </button>
            <button
              type="button"
              class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
              (click)="closeDeleteModal()"
            >
              No, cancel
            </button>
          </div>
        </div>
      </div>
    </div>
    </div>
  </p-tabPanel>


<p-tabPanel header="Completed" [headerStyleClass]="'completed-tab'">
  <div class="overflow-x-auto">
    <div class="max-w-5xl mx-auto my-8 p-6 bg-blue-50 rounded-lg shadow-lg">
      <!-- Table -->
      <div class="overflow-x-auto">
        <table class="min-w-full border-collapse bg-white rounded-lg shadow-md overflow-hidden">
          <thead>
            <tr class="bg-gray-200 text-left text-sm font-semibold text-gray-800">
              <th
                *ngFor="let column of columns"
                class="px-6 py-4 border-b border-gray-300 cursor-pointer hover:bg-gray-300"
                (click)="sortTable(column.key)"
              >
                <span class="flex items-center">
                  {{ column.label }}
                  <svg
                    class="w-4 h-4 ml-2"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path [attr.d]="getSortIconPath(column.key)" />
                  </svg>
                </span>
              </th>
              <!-- Action Column -->
              <th class="px-6 py-4 border-b border-gray-300 text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
            <!-- Check if there are in-progress jobs -->
            <ng-container *ngIf="paginatedCompletedJobs.length > 0; else noCompleteJobsTemplate">
              <tr
                *ngFor="let job of paginatedCompletedJobs"
                class="hover:bg-blue-100 transition-colors ease-in-out duration-150"
              >
                <td
                  class="px-6 py-4 border-b border-gray-300 text-sm text-gray-700 font-semibold"
                  *ngFor="let column of columns"
                  [ngClass]="{ 'no-wrap': column.key === 'jobId' }"
                >
                  {{ job[column.key] }}
                </td>

                <!-- Action Buttons -->
                <td class="px-6 py-4 border-b border-gray-300 text-center">
                  <div class="flex space-x-2 justify-center">


                    <button
                      class="bg-green-500 text-white hover:bg-green-600 focus:ring-2 focus:ring-green-300 focus:outline-none rounded-full p-2 shadow-md transition-colors flex items-center"
                      aria-label="Info"
                      (click)="openModal(job.jobId ?? 'N/A')"
                    >
                      <i class="pi pi-info text-lg"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>

      <!-- Template for No In-Progress Jobs -->
      <ng-template #noCompleteJobsTemplate>
        <tr>
          <td colspan="7" class="text-center py-8">
            <div class="flex flex-col items-center justify-center">
              <img src="/assets/images/no-data.svg" alt="No in-progress jobs" class="mx-auto w-20 h-20 md:w-32 md:h-32" />
              <p class="text-gray-600 mt-4 text-sm md:text-base font-medium">No Completed jobs at the moment.</p>
            </div>
          </td>
        </tr>
      </ng-template>

      <!-- Pagination Controls -->
      <div class="mt-6 flex justify-between items-center">
        <!-- Previous Button -->
        <button
          class="px-6 py-2 bg-indigo-500 text-white rounded-md hover:bg-indigo-600 disabled:bg-gray-300 disabled:text-gray-500 disabled:cursor-not-allowed"
          (click)="prevPage('completed')"
          [disabled]="currentPageCompleted === 1"
        >
          Previous
        </button>

        <!-- Page Numbers -->
        <div class="flex items-center space-x-2">
          <span class="text-sm text-gray-600">
            Page {{ currentPageCompleted }} of {{ Math.ceil(filteredCompletedJobs.length / itemsPerPage) }}
          </span>
        </div>

        <!-- Next Button -->
        <button
          class="px-6 py-2 bg-indigo-500 text-white rounded-md hover:bg-indigo-600 disabled:bg-gray-200 disabled:cursor-not-allowed"
          (click)="nextPage('completed')"
          [disabled]="currentPageCompleted === Math.ceil(filteredCompletedJobs.length / itemsPerPage)"
        >
          Next
        </button>
      </div>

      <!-- Search Input -->
      <div class="mt-4 flex items-center space-x-2">
        <input
          type="text"
          class="px-4 py-2 border border-gray-300 rounded-md"
          placeholder="Search"
          [(ngModel)]="searchQuery"
        />
      </div>
    </div>





    <div
      class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50"
      *ngIf="isModalOpen"
    >
      <div
        class="bg-white rounded-lg shadow-lg w-full max-w-6xl mx-4 p-6 relative "
      >
      <button
      class="close-button"
      (click)="closeModal()"
    >
      &times;
    </button>


        <!-- Job Details Component -->
        <app-job-request-details [jobId]="selectedJobId" *ngIf="selectedJobId">
        </app-job-request-details>

        <!-- Close Button -->

      </div>
    </div>


    </div>
  </p-tabPanel>
</p-tabView>










