<div class="flex items-center justify-center min-h-screen bg-gray-100 px-4">
  <div class="w-full max-w-xl bg-white rounded-lg shadow-md p-9">
    <div class="mb-6">
      <!-- Tabs -->
      <div class="flex border-b border-gray-200 text-2xl font-extrabold">
        <button
          *ngFor="let tab of tabs; let i = index"
          (click)="setActiveTab(i)"
          [ngClass]="{
            'text-blue-600 border-blue-600': activeTabIndex === i,
            'text-gray-500': activeTabIndex !== i
          }"
          class="w-1/2 py-2 text-center border-b-2 font-medium"
        >
          Sign in as {{ tab }}
        </button>
      </div>
    </div>

    <form (ngSubmit)="onSubmit()">
      <!-- Email input -->
      @if(activeTabIndex==0){
      <div class="mb-4">
        <label for="userName" class="block text-sm font-medium text-gray-700"
          >Personal Registration Number</label
        >
        <input
          type="text"
          [(ngModel)]="userName"
          name="userName"
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 text-gray-900 sm:text-sm"
          id="userName"
          placeholder="2-xxxxxxxx"
        />
      </div>
      }@else{
      <div class="mb-4">
        <label for="userName" class="block text-sm font-medium text-gray-700"
          >User Name</label>
        <input
          type="text"
          [(ngModel)]="userName"
          name="userName"
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 text-gray-900 sm:text-sm"
          id="userName"
          placeholder="User Name"
        />
      </div>
      }

      <div>
        <label for="password" class="block text-sm font-medium text-gray-700">
          Password
        </label>
        <div class="relative">
          <input
            [type]="showPassword ? 'text' : 'password'"
            [(ngModel)]="password"
            name="password"
            id="password"
            placeholder="Enter your password"
            class="mt-1 mb-5 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
          />
          <button
            type="button"
            (click)="togglePasswordVisibility()"
            class="absolute inset-y-0 right-0 flex items-center pr-3 text-gray-500"
            aria-label="Toggle password visibility"
          >
            <i [ngClass]="showPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
          </button>
        </div>
      </div>
      <!-- Error Message -->
      <div *ngIf="loginError" class="text-red-500 mb-4">{{ loginError }}</div>
      <!-- Submit button -->
      <div>
        <button
          type="submit"
          class="w-full bg-blue-600 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded-lg focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
        >
          @if (activeTabIndex==0){ Login as Youth } @else{ Login as Employer }
        </button>
      </div>
    </form>

    <div class="mt-6 text-center text-sm text-gray-600">
      Don’t have an account?
      @if (activeTabIndex==0){

        <a
        href="/signup-youth"
        class="text-blue-600 hover:underline font-medium cursor-pointer"
        >
        Sign up
      </a>
    }@else {
      <a
      href="/signup-employer"
      class="text-blue-600 hover:underline font-medium cursor-pointer"
      >
      Sign up
    </a>
    }
    </div>
  </div>
</div>
