<nav class="bg-[#0056b3] ">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <a href="/" class="flex shrink-0 items-center text-white font-extrabold">
          KFW
        </a>
      </div>
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <!-- Profile dropdown -->
        <div class="relative ml-3">
          <button
            (click)="toggleDropdown()"
            class="flex items-center justify-center h-10 w-10 rounded-full bg-gray-800 text-white text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
            aria-expanded="false"
            aria-haspopup="true"
          >
            <span class="uppercase ">{{ userInitials }}</span>
          </button>

          <!-- Dropdown menu -->
<!-- Dropdown menu -->
<div
  *ngIf="dropdownOpen"
  class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black/5 focus:outline-none"
  role="menu"
  aria-orientation="vertical"
>
  <a
    (click)="editProfile()"
    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-300 cursor-pointer "
    role="menuitem"
    >View Profile</a>
  <a
    (click)="logout()"
    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-300 cursor-pointer "
    role="menuitem"
    >Logout</a>
</div>

        </div>
      </div>
    </div>
  </div>
</nav>
