<div *ngIf="paginatedProducts && paginatedProducts.length > 0 ; else noData">
    <p-table
      class="p-10"
      [value]="paginatedProducts"
      [tableStyle]="{
        'min-width': '50rem',
        background: 'black',
        border: '1px solid #ddd',
        'border-radius': '8px',
        'box-shadow': '0 2px 6px rgba(0, 0, 0, 0.1)'
      }"
      [paginator]="true"
      [rows]="5"
      [rowsPerPageOptions]="[5, 10, 20]"
    >
      <!-- Caption with Column Selector -->
      <ng-template pTemplate="caption">
        <p-multiSelect
          display="chip"
          [options]="savedColumns"
          [(ngModel)]="cols"
          optionLabel="header"
          selectedItemsLabel="{0} columns selected"
          [style]="{
            background: 'white',
            border: '1px solid #ddd',
            'border-radius': '8px',
            'box-shadow': '0 2px 6px rgba(0, 0, 0, 0.1)'
          }"
          placeholder="Choose Columns"
          (onChange)="saveSelectedColumnsToLocalStorage()"
        ></p-multiSelect>
        <p-dropdown
        [options]="[
          { label: 'My Area', value: 'myArea' },
          { label: 'All Areas', value: 'all' }
        ]"
        [(ngModel)]="selectedDataScope"
        (onChange)="fetchYouthData()"
        placeholder="Filter by Area"
        class="w-40 text-gray-800 text-sm ml-2 px-5 py-2 rounded"
        [style]="{
          background: 'white',
          border: '1px solid #ccc',
          'border-radius': '6px',
          'box-shadow': '0 3px 6px rgba(0, 0, 0, 0.08)',
          
        }"
      >
        <ng-template pTemplate="selectedItem" let-item>
          <div class="flex items-center space-x-2">
            <i class="pi pi-map-marker text-blue-500"></i>
            <span class="font-medium">{{ item.label }}</span>
          </div>
        </ng-template>
        <ng-template pTemplate="item" let-item>
          <div class="flex items-center space-x-2 hover:bg-gray-100 p-2 rounded transition">
            <i class="pi pi-map-marker text-gray-500"></i>
            <span>{{ item.label }}</span>
          </div>
        </ng-template>
      </p-dropdown>
        <button
          (click)="resetSelectedColumns()"
          class="bg-blue-600 text-white ml-4 px-5 py-2 rounded hover:bg-blue-500"
        >
          Reset columns
        </button>
      </ng-template>
  
      <!-- Table Header -->
      <ng-template pTemplate="header">
        <tr>
          <th class="border-r">Actions</th>
          <th
            *ngFor="let col of cols"
            class="min-w-56 px-4 py-2 text-left text-md font-medium border-b border-r"
            pSortableColumn="{{ col.field }}"
          >
            <div class="flex flex-col">
              <div class="flex justify-between items-center mb-2">
                <span>{{ col.header }}</span>
                <p-sortIcon field="{{ col.field }}" class="ml-2"></p-sortIcon>
              </div>
            </div>
          </th>
        </tr>
        <tr>
          <th class="border-b border-r px-2 py-1 text-sm text-gray-600 text-center">
            Actions
          </th>
          <th *ngFor="let col of cols" class="border-b border-r px-2 py-1 text-sm text-gray-600">
            <ng-container [ngSwitch]="col.field">
              <ng-container *ngSwitchCase="'createdAt'">
                <p-columnFilter
                  [type]="'date'"
                  [field]="col.field"
                  [showClearButton]="true"
                ></p-columnFilter>
              </ng-container>
              <ng-container *ngSwitchDefault>
                <p-columnFilter
                  [type]="'text'"
                  [field]="col.field"
                  [showClearButton]="true"
                ></p-columnFilter>
              </ng-container>
            </ng-container>
          </th>
        </tr>
      </ng-template>
  
      <!-- Table Body -->
      <ng-template pTemplate="body" let-product>
        <tr class="odd:bg-gray-50 even:bg-white text-gray-700 hover:bg-gray-100">
          <!-- Actions Column -->
          <td
            class="text-sm border-b border-r border-gray-300 flex flex-row justify-between items-center gap-4"
          >
            <button
              *ngIf="getActionsForRow(product.status, product.active)?.includes('view')"
              type="button"
              class="px-4 py-2 bg-green-500 text-white rounded-md hover:bg-green-600"
              (click)="showDialog(product.id, 'employer')"
            >
              <i class="pi pi-eye"></i>
            </button>
            <button
              *ngIf="getActionsForRow(product.status, product.active)?.includes('activate')"
              type="button"
              class="px-4 py-2 bg-cyan-500 text-white rounded-md hover:bg-cyan-600"
              (click)="updateActiveStatus(product.id, true)"
            >
              <i class="pi pi-check"></i>
            </button>
            <button
              *ngIf="getActionsForRow(product.status, product.active)?.includes('deactivate')"
              type="button"
              class="px-4 py-2 bg-red-500 text-white rounded-md hover:bg-red-600"
              (click)="updateActiveStatus(product.id, false)"
            >
              <i class="pi pi-times"></i>
            </button>
            <button
              *ngIf="getActionsForRow(product.status, product.active)?.includes('pend')"
              type="button"
              class="px-4 py-2 bg-yellow-500 text-white rounded-md hover:bg-yellow-600"
              (click)="showNoteDialog(product)"
            >
              <i class="pi pi-clock"></i>
            </button>
          </td>
          <!-- Data Columns -->
          <td *ngFor="let col of cols" class="px-4 py-2 text-sm border-b border-r border-gray-300">
            <ng-container [ngSwitch]="col.field">
              <ng-container *ngSwitchCase="'createdAt'">
                <div>{{ formatDate(product[col.field]) }}</div>
              </ng-container>
              <ng-container *ngSwitchDefault>
                {{ product[col.field] || 'N/A' }}
              </ng-container>
            </ng-container>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  
  <!-- Employer Details Dialog -->
  <p-dialog
    [(visible)]="employerDialogVisible"
    [style]="{ width: '85vw', height: '80vh', padding: '0', margin: '0' }"
    (onHide)="clearSelectedYouthId()"
    >
    <app-details-employer
      *ngIf="selectedYouthId"
      [employerId]="selectedYouthId.toString()"
    ></app-details-employer>
  </p-dialog>
  
  
  <ng-template #noData>

    <div
    class="flex flex-col justify-center items-center text-gray-500 py-10 bg-gradient-to-b from-gray-100 to-gray-50 rounded-lg shadow-md"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-16 w-16 text-gray-300 mb-4"
      viewBox="0 0 20 20"
      fill="currentColor"
    >
      <path
        fill-rule="evenodd"
        d="M3 4a2 2 0 012-2h10a2 2 0 012 2v10a2 2 0 01-2 2H5l-4 4V4z"
        clip-rule="evenodd"
      />
    </svg>
    <p class="text-lg font-semibold">No Data Available</p>
  </div>
  </ng-template>