.job-detail-span {
  font-size: 1.125rem; 
  font-weight: 500; 
  color: #4a5568; 
  background-color: #ebf8ff; 
  border-radius: 0.375rem; 
  padding: 0.25rem 0.5rem; 
  box-shadow: 0 1px 3px rgba(59, 130, 246, 0.2); 
}


.job-detail-span-dark {
  color: #e2e8f0; 
  background-color: #1e3a8a; 
  box-shadow: 0 1px 3px rgba(29, 78, 216, 0.6); 
}


.field-container {
  @apply flex flex-col md:flex-row items-start md:items-center gap-2;
}

.label {
  @apply text-xl font-bold text-gray-800 dark:text-gray-200 shrink-0 ;
}

.value {
  @apply text-lg font-medium text-gray-700 dark:text-gray-400 px-2 py-2 m-2 bg-blue-100 dark:bg-blue-800 rounded-lg shadow-sm;
}
.job-detail-input {
  display: block;
  width: 100%;
  max-width: 20rem; 
  padding: 0.5rem 1rem; 
  border: 1px solid #e2e8f0; 
  border-radius: 0.375rem; 
  font-size: 0.875rem; 
  color: #4a5568; 
  background-color: #edf2f7; 
  box-shadow: 0 1px 3px rgba(203, 213, 225, 0.4); 
}


.job-detail-input:focus {
  border-color: #3182ce; 
  outline: none;
  box-shadow: 0 0 0 2px rgba(66, 153, 225, 0.5); 
}
