@tailwind base;
@tailwind components;
@tailwind utilities;

@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}
.p-component-overlay {
  background-color: rgba(0, 0, 0, 0.04) !important;
  animation: fade-in 0.2s ease-in-out forwards !important; /* Bind the animation */
}

@keyframes fade-in {
  0% {
      background-color: transparent !important;
  }
  100% {
      background-color: transparent !important;
  }
}
html {
  scroll-behavior: smooth;
}
