<div class="responsive-container">
  
<div class=" bg-[#f0f8ff] dark:bg-[#1e90ff] rounded-xl shadow-lg p-6">
  <h3 class="text-xl font-semibold text-[#1e90ff] dark:text-[#ffffff] mb-8 mt-3">
    Employer Profile
  </h3>
    <div class="p-6 bg-gradient-to-r from-[#e6f7ff] to-[#cce4ff] dark:bg-gradient-to-r dark:from-[#6ab5ff] dark:to-[#1e90ff] rounded-lg mb-6 shadow-md border border-[#d4edff]">
      <div class="grid grid-cols-2 gap-6 mt-4">
        <p>

          <strong class="text-lg font-bold text-gray-700 dark:text-gray-300">Organization: </strong>
          <span *ngIf="!isEditing['details']" class="value text-lg font-medium text-gray-700 dark:text-gray-400 px-4 py-2 bg-blue-100 dark:bg-blue-800 rounded-lg shadow-sm">{{ employer?.organization }}</span>
          <input
            *ngIf="isEditing['details']"
            [(ngModel)]="editModels['organization']"
            class="form-input max-w-xs block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm text-gray-600 dark:text-gray-400 bg-gray-100 dark:bg-gray-700"
            type="text"
          />
        </p>
        <p>
          <strong class="text-lg font-bold text-gray-700 dark:text-gray-300">Full Name (English): </strong>
          <span *ngIf="!isEditing['details']" class="value text-lg font-medium text-gray-700 dark:text-gray-400 px-4 py-2 bg-blue-100 dark:bg-blue-800 rounded-lg shadow-sm">{{ employer?.fullNameEnglish }}</span>
          <input
            *ngIf="isEditing['details']"
            [(ngModel)]="editModels['fullNameEnglish']"
            class="form-input max-w-xs block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm text-gray-600 dark:text-gray-400 bg-gray-100 dark:bg-gray-700"
            type="text"
          />
        </p>
        <p>
          <strong class="text-lg font-bold text-gray-700 dark:text-gray-300">Full Name (Arabic): </strong>
          <span *ngIf="!isEditing['details']" class="value text-lg font-medium text-gray-700 dark:text-gray-400 px-4 py-2 bg-blue-100 dark:bg-blue-800 rounded-lg shadow-sm">{{ employer?.fullNameArabic }}</span>
          <input
            *ngIf="isEditing['details']"
            [(ngModel)]="editModels['fullNameArabic']"
            class="form-input max-w-xs block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm text-gray-600 dark:text-gray-400 bg-gray-100 dark:bg-gray-700"
            type="text"
          />
        </p>
        <p>
          <strong class="text-lg font-bold text-gray-700 dark:text-gray-300">Mobile Phone: </strong>
          <span *ngIf="!isEditing['details']" class="value text-lg font-medium text-gray-700 dark:text-gray-400 px-4 py-2 bg-blue-100 dark:bg-blue-800 rounded-lg shadow-sm">{{ employer?.mobilePhone }}</span>
          <input
            *ngIf="isEditing['details']"
            [(ngModel)]="editModels['mobilePhone']"
            class="form-input max-w-xs block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm text-gray-600 dark:text-gray-400 bg-gray-100 dark:bg-gray-700"
            type="text"
          />
        </p>
        <p>
          <strong class="text-lg font-bold text-gray-700 dark:text-gray-300">WhatsApp Number: </strong>
          <span *ngIf="!isEditing['details']" class="value text-lg font-medium text-gray-700 dark:text-gray-400 px-4 py-2 bg-blue-100 dark:bg-blue-800 rounded-lg shadow-sm">{{ employer?.whatsappNumber }}</span>
          <input
            *ngIf="isEditing['details']"
            [(ngModel)]="editModels['whatsappNumber']"
            class="form-input max-w-xs block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm text-gray-600 dark:text-gray-400 bg-gray-100 dark:bg-gray-700"
            type="text"
          />
        </p>
        <p>
          <strong class="text-lg font-bold text-gray-700 dark:text-gray-300">Email Address: </strong>
          <span *ngIf="!isEditing['details']" class="value text-lg font-medium text-gray-700 dark:text-gray-400 px-4 py-2 bg-blue-100 dark:bg-blue-800 rounded-lg shadow-sm">{{ employer?.email }}</span>
          <input
            *ngIf="isEditing['details']"
            [(ngModel)]="editModels['email']"
            class="form-input max-w-xs block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm text-gray-600 dark:text-gray-400 bg-gray-100 dark:bg-gray-700"            type="text"
          />
        </p>
        <p>
          <strong class="text-lg font-bold text-gray-700 dark:text-gray-300">Area: </strong>
          <span *ngIf="!isEditing['details']" class="value text-lg font-medium text-gray-700 dark:text-gray-400 px-4 py-2 bg-blue-100 dark:bg-blue-800 rounded-lg shadow-sm">{{ employer?.area }}</span>
          <select
            *ngIf="isEditing['details']"
            [(ngModel)]="editModels['area']"
            class="form-select border-gray-400 rounded-md text-sm py-2 h-9 shadow-md focus:outline-none focus:ring-2 focus:ring-blue-500 max-w-30" >
              <option value="" disabled>Select an Area</option>
              <option value="North Lebanon Area">North Lebanon Area</option>
              <option value="Central Lebanon Area">Central Lebanon Area</option>
              <option value="Beqaa Area">Beqaa Area</option>
              <option value="Saida Area">Saida Area</option>
              <option value="Tyre Area">Tyre Area</option>
            </select>         
        </p>
        <div *ngIf="employer?.signature" class="mt-6">
          <p>
            <strong class="text-lg font-bold text-gray-700 dark:text-gray-300">Signature:</strong>
          </p>
          <div
            class="w-21 h-32 bg-white border border-[#d4edff] dark:border-gray-700 rounded-md shadow-md justify-center items-center cursor-pointer"
            (click)="openModal(employer?.signature || '')"
          >
            <img [src]="employer?.signature || ''" alt="Employer Signature" class="w-29 h-28 object-contain" />
          </div>
        <div *ngIf="!employer?.signature" class="mt-6 text-gray-500">
          No signature available.
        </div>
        
          <div *ngIf="isModalOpen" class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50">
            <div class="bg-white p-6 rounded-lg shadow-lg max-w-96 max-h-96 overflow-auto">
              <div class="flex justify-end">
                <button (click)="closeModal()" class="text-gray-600 dark:text-gray-300 font-semibold text-lg">X</button>
              </div>
              <img [src]="modalImage" alt="Signature Preview" class="w-full h-auto max-h-96 object-contain mx-auto">
            </div>
          </div>
        </div>
      </div>
      <div class="flex justify-end mt-4">
        <button
          *ngIf="!isEditing['details']"
          (click)="startEditing()"
          class="px-4 py-2 bg-blue-500 text-white rounded-md shadow hover:bg-blue-600"
        >
          Edit
        </button>
        <div *ngIf="isEditing['details']">
          <button
            (click)="saveChanges()"
            class="px-4 py-2 bg-green-500 text-white rounded-md shadow hover:bg-green-600 mr-2"
          >
            Save
          </button>
          <button
            (click)="cancelEditing()"
            class="px-4 py-2 bg-red-500 text-white rounded-md shadow hover:bg-red-600"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>